@import '../../../constants/styleVariables';

.input-field() {
  border: 1px solid @color-light-gray;
  border-radius: 3px;
  padding-left: 4px;
  font-size: @font-size-input-basic;

  &:focus,
  &:active {
    border-color: @color-accent;
    outline: none;
  }
}

.table-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  padding: 2px 0px
}

.table-row--label-amount-cell {
  width: @first-column-width;
  margin-right: @column-distance;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.table-row--label {
  color: #ffffff;
  border-radius: 2px;
  padding: 0px 2px 0px 2px;
  font-size: @font-size-basic;
  text-align: center;
  width: 30px;
  margin-right: 5px;
  flex-shrink: 0;
  cursor: pointer;

  transition: color 200ms;

  &:hover {
    color: transparent;
    transition: color 200ms;
    &:before {
      opacity: 1;
      transition: opacity 200ms;
    };
  };

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    background-image: url('data:image/svg+xml, <svg viewBox="-10 -15 60 60" xmlns="http://www.w3.org/2000/svg"><path fill="#ffffff" stroke="#ffffff" d="M0 12h32v8h-32z" /></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: @font-size-basic + 3;
    opacity: 0;
    transition: opacity 200ms;
  }
}

.table-row--amount {
  .input-field();
  flex-grow: 1;
  min-width: 40px;
}

.table-row--user-currency-amount {
  width: @second-column-width*0.8;
  margin-right: @column-distance;
  font-size: @font-size-basic;
  text-align: right;
  padding-right: @second-column-width*0.2;
}

.table-row--invest {
  .input-field();
  width: @third-column-width;

  &.hidden {
    color: @color-hidden;

    &:focus,
    &:active {
      border-color: @color-light-gray;
      outline: none;
    };
  }
}
