@import '../../constants/styleVariables';

.app {
  font-family: 'Open Sans', sans-serif;
  margin: 0px 30px;
  font-size: @font-size-basic;
  max-width: 800px;
}

.app-content {
  display: flex;
  margin-top: 20px;
}
