@import '../../../constants/styleVariables';

.add-currency-menu {
  position: relative;
  margin: 20px 0;
  opacity: 0.75;
  transition: opacity 200ms;
  height: 2em;

  display: flex;

  &:hover {
    opacity: 1;
  }
}

.add-currency-button {
  background-color: transparent;
  margin: 2px;
  width: 30px;
  border: 1px dotted @color-add-currency-background;
  border-radius: 2px;
  color: @color-add-currency-background;
  text-align: center;

  &:hover {
    background-color: @color-add-currency-background;
    color: @color-add-currency-color;
  }
}

.add-currency-label {
  padding: 2px 4px 4px 4px;
  font-size: @font-size-basic;
  color: @color-add-currency-background;
}

.add-currency-border-style {
  border: 1px solid @color-add-currency-background;
  border-radius: 3px;
  background-color: @color-add-currency-color;
}
