@import '../../constants/styleVariables';

.header {
  display: flex;
  justify-content: space-between;

  margin-top: 30px;
}

.header-left-container {
  display: flex;
  align-items:flex-end;
}

.banner {
  font-size: @font-size-header;
  font-weight: @font-weight-bold;
  padding-right: 20px;
}

.use-invest-label {
  padding-left: 2px;
}
